@font-face {
    font-family: 'Archivo-Regular';
    src: url('Archivo-Regular.ttf') format('truetype');
}
body {
    font-family: 'Archivo-Regular', sans-serif;
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
    background-color: #97fff3;
}
.main {
    width: 100%;
}
.spacer {
    height:10vw;
  }
.textblock {
    padding-top:10vw;
    padding-bottom:10vw;
    padding-left:5vw;
    padding-right:5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:8vw;
    line-height: 1.4;
}
.footer {
    padding-top:10vw;
    padding-bottom:10vw;
    padding-left:5vw;
    padding-right:5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:6vw;
    color: #518881;
}
.buyarea {
    padding-top:0vw;
    padding-bottom:0vw;
    padding-left:5vw;
    padding-right:5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}
.button {
    width: 64vw;
    height: 20vw;
    font-family: 'Archivo-Regular', sans-serif;
    font-size:8vw;
    background-color:#FF9900;
    border-radius: 6vw;
    border: 2vw solid #FFC671;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}
.button:hover {
    border: 2vw solid #DEB372;
}
.logo {
    width:75vw;
}
.body-image {
    width: 100vw;
}
.emdash {
    display:none;
}
.getitby {
	margin-top: 5vw;
}